<div class="approval teal" style="border-color: {{ all.color}};" >
  <button onclick="toggleLikeApproval('{{all.doctype}}', '{{all.name}}', {% if all.is_liked %}'No'{% else %}'Yes'{% endif %})" type="button" class="btn btn-link p-0 fav-button">
    <i class="bi {% if all.is_liked %}bi-heart-fill{% else %}bi-heart{% endif %}" {% if all.is_liked %}style="color: #000;"{% endif %}></i>
  </button>
      <h3 class="brand">{{ all.brand }}</h3>
    <div class="title">{{ all.title }}</div>
    <div class="subtitle">{{ all.type}}</div>
    <div class="subtitle">{{ all.agency}}</div>
    <div class="subtitle">{{ all.month_year}}</div>
    <div {% if all.workflow_state == "Rejected"%}  style="font-style: italic; font-size: 9px; line-height: 14px;text-align: right; text-transform: lowercase; text-align: center;color:#C7121D;" {% elif all.workflow_state == "Pending" %} style="font-style: italic; font-size: 9px; line-height: 14px;text-align: right; text-transform: lowercase; text-align: center;color:#E4BB07;" {% else %} style="font-style: italic; font-size: 9px; line-height: 14px;text-align: right; text-transform: lowercase; text-align: center;color:#127846;" {% endif %}>{{all.workflow_state}}</div>
    <div class="subtitle">{{ all.full_name}}</div>
    <button type="button" class="btn btn-link p-0 comment-icon" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/assets/zydus/images/comment-filled.svg" alt="icon" class="img-fluid">
      </button>
      <button class="btn btn-action dropdown-toggle" type="button" id="dropdownMenuButton"
      data-bs-toggle="dropdown" aria-expanded="false">
      Actions
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/{{all.route}}">View</a></li>
      <li><a class="dropdown-item" onclick="location.href='{{all.edit_url}}{{all.name}}'"; {% if(all.workflow_state == 'Rejected') %} hidden {% elif (all.workflow_state == 'Approved') %} hidden {% endif %}>Edit </a></li>
      <li><button class="dropdown-item" onclick="deleteProject1()"  {% if(all.workflow_state == 'Rejected') %} hidden {% elif (all.workflow_state == 'Approved') %} hidden {% endif %}>Delete</button></li>
      <li>
          <a onclick="this.parentElement.querySelectorAll('a[download]').forEach(x => x.click());event.preventDefault()" class="dropdown-item" href="#">Download</a>
          {% for file in all.attachments %}
          <a href="{{file.file_url}}" download></a>
          {% endfor %}
      </li>
    </ul>
  </div>
  <script>
  function deleteProject1() {
    $.ajax({
      url: '/api/resource/{{all.doctype}}/{{all.name}}',
      type: 'DELETE',
      async: false,
      headers: {
        'X-Frappe-CSRF-Token': frappe.csrf_token
      },
      success: function (res) {
        console.log(res)
        location.href='/approvals?all'
        // location.reload()
      }
    })
  }


  </script>
