<div class="approval teal"  style="border-color: #00ac41;">
    <button type="button" class="btn btn-link p-0 fav-button">
        <i class="bi bi-heart"></i>
      </button>
      <h3 class="brand">{{ approval_approved.brand }}</h3>
    <div class="title">{{ approval_approved.title }}</div>
    <div class="subtitle">{{ approval_approved.type}}</div>
    <div class="subtitle">{{ approval_approved.agency}}</div>
    <div class="subtitle">{{ approval_approved.month_year}}</div>
    <div class="text-approved">{{approval_approved.workflow_state}}</div>
    <div class="subtitle">{{ approval_approved.full_name}}</div>
    <button type="button" class="btn btn-link p-0 comment-icon" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="./assets/zydus/images/comment-filled.svg" alt="icon" class="img-fluid">
      </button>
      <button class="btn btn-action dropdown-toggle" type="button" id="dropdownMenuButton"
      data-bs-toggle="dropdown" aria-expanded="false">
      Actions
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">View</a></li>
      <li>
        <a class="dropdown-item" href="#">Download</a>
      </li>
    </ul>
  </div>