<div class="reminder {% if reminder.due_by == 'Today' %} active {% endif %}">
    <div>
      <img src="{% if reminder.due_by == 'Today' %} /assets/zydus/images/reminder-filled.svg {% else %} /assets/zydus/images/reminder-outline.svg {% endif %}">
    </div>
    <div>
      <span class="reminder-sender">{% if reminder.owner == "Administrator" %} me {% else %}  {% endif %}:</span>
      <div class="d-flex align-items-center user-profile">
        <div class="profile-pic">{% if reminder.owner != "Administrator" %} 
        <img src="{{reminder.user_image}}" alt="" class="img-fluid">{% endif %}
        </div>
        <div class="reminder-sender">{% if reminder.owner != "Administrator" %} 
          {{reminder.full_name}} {% endif %}</div>
      </div>
      <span class="reminder-title">{{reminder.title}}</span>
    </div>
    <div class="reminder-content mt-2">
        {{reminder.description}}
    </div>
    <div class="reminder-time">{{ reminder.due_by }}</div>
    <div class="reminder-actions">
        {% if reminder.due_by == 'Today' %}
        {% if reminder.owner == reminder.owner %}
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          Snooze
        </button>
        <div class="dropdown-menu">
            <ul class="list-unstyled" aria-labelledby="dropdownMenuButton">
                <li>
                    <button class="dropdown-item" onclick="SnoozeReminderA('{{reminder.date}}',1,'{{reminder.name}}')" location.href="#" >Tomorrow </button>
                </li>
                <li>
                    <button class="dropdown-item" onclick="SnoozeReminderA('{{reminder.date}}',2,'{{reminder.name}}')" location.href="#" >in 2 days</button>
                </li>
                <li>
                    <button class="dropdown-item" onclick="SnoozeReminderA('{{reminder.date}}',3,'{{reminder.name}}')" location.href="#" >in 3 days</button>
                </li>
            </ul>
        </div>
      </div>
      {% endif %}
      <button class="btn" onclick="DoneA('{{reminder.name}}')" location.href="#" >Done</button>
      {% endif %}
    </div>
  </div>  