<div class="my-upload" style="border-color: {{my_upload.color}};">
    <button onclick="toggleLike('Project', '{{my_upload.name}}', {% if my_upload.is_liked %}'No'{% else %}'Yes'{% endif %})" type="button" class="btn btn-link p-0 fav-button">
        <i class="bi {% if my_upload.is_liked %}bi-heart-fill{% else %}bi-heart{% endif %}" {% if my_upload.is_liked %}style="color: #000;"{% endif %}></i>
    </button>
    <h3 class="brand">{{my_upload.brand}}</h3>
    <div class="title">{{my_upload.title}}</div>
    <div class="subtitle">{{my_upload.month_year}}</div>
    <div class="subtitle">{{my_upload.attachments | len}} {% if my_upload.attachments | len > 1%} files {% else %} file {% endif %}</div>
    <button type="button" class="btn btn-link p-0 fav-button dropdown-toggle" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/{{my_upload.route}}">View</a></li>
        <li>
            <a onclick="this.parentElement.querySelectorAll('a[download]').forEach(x => x.click());event.preventDefault()" class="dropdown-item" href="#">Download</a>
            {% for file in my_upload.attachments %}
            <a href="{{file.file_url}}" download></a>
            {% endfor %}
        </li>
    </ul>
</div>