<div class="reminders-container">
    <div class="reminders-wrapper">
        <div class="reminder {% if reminder.due_by == 'Today' %} active {% endif %}">
            <div>
                <img
                    src="{% if reminder.due_by == 'Today' %} /assets/zydus/images/reminder-filled.svg {% else %} /assets/zydus/images/reminder-outline.svg {% endif %}" />
            </div>
            <div>
                <div>
                    <div class="d-flex align-items-center">
                        <span class="reminder-sender">{% if reminder.owner == reminder.modified_by %} me:  {% else %} {%
                            endif %}</span>
                        <div>
                            <div
                                class="d-flex align-items-center">
                                {% if reminder.owner != reminder.modified_by %}
                                    <img src="{{reminder.user_image}}" alt=" " class="img-fluid1">
                                &nbsp;                          
                                <div class="reminder-sender">
                                    {{reminder.full_name}}
                                </div>                               
                                {% endif %}
                            </div>
                            &nbsp;
                            <div class="reminder-title mt-2">{{reminder.title}}</div>
                        </div>
                    </div>
                    <div class="reminder-content">{{reminder.description}}</div>
                </div>
                <div class="reminder-time">{{ reminder.due_by }}</div>
                <div class="reminder-actions mt-3">
                    {% if reminder.due_by == 'Today' %}
                    {% if reminder.owner == reminder.owner %}
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Snooze
                        </button>
                        <div class="dropdown-menu">
                            <ul class="list-unstyled" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <button class="dropdown-item"
                                        onclick="SnoozeReminder('{{reminder.date}}',1,'{{reminder.name}}')"
                                        href="#">Tomorrow </button>
                                </li>
                                <li>
                                    <button class="dropdown-item"
                                        onclick="SnoozeReminder('{{reminder.date}}',2,'{{reminder.name}}')" href="#">in
                                        2 days</button>
                                </li>
                                <li>
                                    <button class="dropdown-item"
                                        onclick="SnoozeReminder('{{reminder.date}}',3,'{{reminder.name}}')" href="#">in
                                        3 days</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <button class="btn" onclick="Done('{{reminder.name}}')">Done</button>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>