{% extends "templates/zydus-portal-ui.html" %}
{% block title%}Home{% endblock %}
{% block content%}
<div id="like-button-parent">
<div class="row" id="like-button">
  <div class="col-xl-3 line-on-left reminders-column pt-5">
    <div class="account-profile-blk text-center">
      <a style="cursor: pointer" class="edit-profile-btn" id="edit-profile-button" onclick="document.getElementById('profile').click()">
        <img src="/assets/zydus/images/edit-profile.svg" alt=""></a>
      <div class="account-profile-img">
        <img src="{{ frappe.db.get_value('User', frappe.session.user, 'user_image') }}" class="img-fluid">
      </div>
      <div class="account-user-details">
        <h2>
          {{frappe.get_fullname()}}
        </h2>
        <h6>
          {{frappe.db.get_value('User', frappe.session.user, 'designation')}}
        </h6>
        <a href="mailto:{{frappe.session.user}}">{{frappe.session.user}}</a>
      </div>
    </div>
    <div class="account-tab-blk">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link {{ 'active' if 'profile' in frappe.form_dict  else '' }}" style="display: none;" id="profile" data-bs-toggle="pill" href="#v-pills-edit-profile"
          role="tab" aria-controls="v-pills-uploads" aria-selected="true">Edit Profile</a>
        <a class="nav-link {{ 'active' if 'my_uploads' in frappe.form_dict  else '' }}" id="my_uploads" data-bs-toggle="pill" href="#v-pills-uploads"
          role="tab" aria-controls="v-pills-uploads" aria-selected="true">My Uploads</a>
        <a class="nav-link {{ 'active' if 'favourites' in frappe.form_dict  else '' }}" id="favourites" data-bs-toggle="pill" href="#v-pills-favourites"
          role="tab" aria-controls="v-pills-favourites" aria-selected="false">Favourites</a>
        <a class="nav-link {{ 'active' if 'reminders' in frappe.form_dict  else '' }}" id="reminders" data-bs-toggle="pill" href="#v-pills-reminders"
          role="tab" aria-controls="v-pills-reminders" aria-selected="false">Reminders</a>
          <a class="nav-link {{ 'active' if 'notifications' in frappe.form_dict  else '' }}" id="notifications" data-bs-toggle="pill" href="#v-pills-notifications"               
          role="tab" aria-controls="v-pills-notifications" aria-selected="false">Notifications</a>
        <a class="nav-link nav-link-logout"onclick="event.preventDefault(); logout()" href="#">
          logout 
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-9 main-scroll-area">
    <div class="account-nav-main-blk">
      <div class="tab-content" id="v-pills-tabContent">
        <!--------------------->
        <!-- Upload Tab Start -->
        <!--------------------->
        <div class="tab-pane fade account-nav-upload-blk {{ 'show active' if 'my_uploads' in frappe.form_dict  else '' }}" id="v-pills-uploads" role="tabpanel"
          aria-labelledby="my_uploads">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h2 class="section-title">My Uploads</h2>
            <ul class="list-inline text-primary mb-0">
              <li class="list-inline-item">
                <small>
                  {{my_uploads_page_from}}-{{my_uploads_page_to}} of {{my_uploads_count}}
                </small>
              </li>
              <li class="list-inline-item">
                <button {% if my_uploads_page > 1 %} onclick="load_accounts_page('my_uploads', {{my_uploads_page - 1}})" {% endif %} class="btn btn-link view-all-link ps-0 {{ 'disabled' if my_uploads_page == 1  else '' }}">
                  <i class="bi bi-chevron-left"></i>
                </button>
              </li>
              <li class="list-inline-item">
                <button {% if my_uploads_page_to < my_uploads_count  %} onclick="load_accounts_page('my_uploads', {{my_uploads_page + 1}})" {% endif %} class="btn btn-link view-all-link ps-0 {{ '' if my_uploads_page_to < my_uploads_count  else 'disabled' }}">
                  <i class="bi bi-chevron-right"></i>
                </button>
              </li>
            </ul>
          </div>
          <!-- start -->
          {% for my_upload in my_uploads %}
          <div class="my-upload teal" style="border-color: {{my_upload.color}};">
            <button onclick="toggleLikeA('{{my_upload.doctype}}', '{{my_upload.name}}', {% if my_upload.is_liked %}'No'{% else %}'Yes'{% endif %})" type="button" class="btn btn-link p-0 fav-button">
              <i class="bi {% if my_upload.is_liked %}bi-heart-fill{% else %}bi-heart{% endif %}" {% if my_upload.is_liked %}style="color: #000;"{% endif %}></i>
          </button>
            <h3 class="brand">{{my_upload.brand}}</h3>
            <div class="title">{{my_upload.title}}</div>
            <div class="subtitle">{{my_upload.month_year}}</div>
            <div class="subtitle">{{my_upload.attachments | len}} {% if my_upload.attachments | len > 1%} files {% else %} file {% endif %}</div>
            <div class="green-status">{{my_upload.workflow_state}}</div>
            <div class="comment-icon">
              <img src="/assets/zydus/images/comment.svg" alt="icon" class="img-fluid">
            </div>
            <button type="button" class="btn btn-link p-0 fav-button dropdown-toggle" type="button"
              id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/{{my_upload.route}}">View</a></li>
              <li>
                <a onclick="this.parentElement.querySelectorAll('a[download]').forEach(x => x.click());event.preventDefault()" class="dropdown-item" href="#">Download</a>
                {% for file in my_upload.attachments %}
                <a href="{{file.file_url}}" download></a>
                {% endfor %}
            </li>
            </ul>
          </div>
          {% endfor%}
          <!-- End -->
        </div>
        <!--------------------->
        <!-- Upload Tab End -->
        <!--------------------->
        <!--------------------->
        <!-- Favourite Tab Start -->
        <!--------------------->
        <div class="tab-pane fade account-nav-favourites-blk {{ 'show active' if 'favourites' in frappe.form_dict  else '' }}" id="v-pills-favourites" role="tabpanel"
          aria-labelledby="favourites">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h2 class="section-title">Favourites</h2>
            <ul class="list-inline text-primary mb-0">
              <li class="list-inline-item">
                <small>
                  {{favourites_page_from}}-{{favourites_page_to}} of {{favourites_count}}
                </small>
              </li>
              <li class="list-inline-item">
                <button {% if favourites_page > 1 %} onclick="load_accounts_page('favourites', {{favourites_page - 1}})" {% endif %} class="btn btn-link view-all-link ps-0 {{ 'disabled' if favourites_page == 1  else '' }}">
                  <i class="bi bi-chevron-left"></i>
                </button>
              </li>
              <li class="list-inline-item">
                <button {% if favourites_page_to < favourites_count  %} onclick="load_accounts_page('favourites', {{favourites_page + 1}})" {% endif %} class="btn btn-link view-all-link ps-0 {{ '' if favourites_page_to < favourites_count  else 'disabled' }}">
                  <i class="bi bi-chevron-right"></i>
                </button>
              </li>
            </ul>
          </div>
          <!-- start -->
          {% for favourite in favourites %}
          <div class="my-upload teal" style="border-color: {{favourite.color}};">
            <button onclick="toggleLikeA('{{favourite.doctype}}', '{{favourite.name}}', {% if favourite.is_liked %}'No'{% else %}'Yes'{% endif %})" type="button" class="btn btn-link p-0 fav-button">
              <i class="bi {% if favourite.is_liked %}bi-heart-fill{% else %}bi-heart{% endif %}" {% if favourite.is_liked %}style="color: #000;"{% endif %}></i>
          </button>
            <h3 class="brand">{{favourite.brand}}</h3>
            <div class="title">{{favourite.title}}</div>
            <div class="subtitle">{{favourite.month_year}}</div>
            <div class="subtitle">{{favourite.attachments | len}} {% if favourite.attachments | len > 1%} files {% else %} file {% endif %}</div>
            <button type="button" class="btn btn-link p-0 fav-button dropdown-toggle" type="button"
              id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/{{favourite.route}}">View</a></li>
              <li>
                <a onclick="this.parentElement.querySelectorAll('a[download]').forEach(x => x.click());event.preventDefault()" class="dropdown-item" href="#">Download</a>
                {% for file in favourite.attachments %}
                <a href="{{file.file_url}}" download></a>
                {% endfor %}
            </li>
            </ul>
          </div>
          {% endfor%}
          
        </div>
        <!--------------------->
        <!-- Favourite Tab End -->
        <!--------------------->
        <!--------------------->
        <!-- Reminder Tab Start -->
        <!--------------------->
        <div  class="tab-pane fade account-nav-reminders-blk {{ 'show active' if 'reminders' in frappe.form_dict  else '' }}" id="v-pills-reminders" role="tabpanel" 
        aria-labelledby="reminders">
      <div class="set-reminders-wrapper" style="display:none;" id="set-new-reminder" >
        <div class="d-flex align-items-center justify-content-between mb-3"   >
          <h2 class="section-title">Set New Reminder</h2>
        </div>
        <form id="set-reminder-form" form action="" class="custom-form project-form " >
          <div class="row gy-3">
            <div class="col-12 col-md-6">
              <label>
                Label
              </label>
              <input class="form-control" name="title" placeholder="Enter the label of the reminder">
            </div>
            <div class="col-12 col-md-6">
              <label>
                Description
              </label>
              <input  class="form-control" name="description" placeholder="Enter a brief description">
            </div>
            <div class="col-12 col-md-6">
              <label>
                Date
              </label>
              <input type="date" name="date" class="form-control " placeholder="DD/MM/YYYY">
            </div>
            <div class="col-12 text-end action-btns mb-4">
              <button class="btn btn-secondary me-2 remind-btn-cancel" type="reset" onclick="CancelReminder()">
                Cancel
              </button>
              <button class="btn btn-primary remind-btn-add" type="submit" onclick="AddReminder()" value="Update">
                Add
              </button>
            </div>
          </div>
        </form>
      </div>
      <div id="all-reminder-parent">
      <div class="all-reminders-class" id="all-reminder" >
        <div class="d-flex align-items-center justify-content-between mb-3"    >
          <h2 class="section-title">All Reminders</h2>
        </div>
        <div class="reminders-wrapper" >
          <!-- Start -->
          {% for reminder in reminders %}
          {% include "templates/zydus-portal-ui-includes/accounts/accounts-reminder-card.html" %} 
          {% endfor %}
        </div> 
          <!-- End -->
        </div>
      </div>
        <div class="add-missing-btn">
          <button class="btn btn-primary" id ="set-add-button" type ="button">
            <img src="/assets/zydus/images/plus-icn.png" class="img-fluid">
          </button>
        </div>
      </div>
      <!-----
          
          
        <!--------------------->
        <!-- Reminder Tab End -->
        <!--------------------->
        <!--------------------->
        <!-- Notification Tab Start -->
        <!--------------------->
        <div class="tab-pane fade account-nav-notification-blk {{ 'show active' if 'notifications' in frappe.form_dict  else '' }}" id="v-pills-notifications" role="tabpanel"
          aria-labelledby="v-pills-notifications-tab">
          <div class="d-flex align-items-center justify-content-between mb-3 flex-wrap">
            <h2 class="section-title">My Notifications</h2>
            <form  id="notificatons-form">
            <ul class="list-inline text-primary mb-0">
              <li class="list-inline-item">
                <a href="" class="text-primary" name="clear" onclick="$('input:checked[name=notifications]').prop('checked', false); event.preventDefault()" id="">
                  <small>
                    Clear
                  </small>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="" id="mark_as_read-btn" onclick="event.preventDefault();notification_read_unread()" class="text-primary">
                  <small>
                    Mark as read
                  </small>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="" id="mark_as_unread-btn"  onclick="event.preventDefault();notification_read_unread()" class="text-primary">
                  <small>
                    Mark as unread
                  </small>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#"  id="mark_all_as_read-btn" onclick="event.preventDefault();mark_all_as_read()" class="text-primary">
                  <small>
                    Mark all as read
                  </small>
                </a>
              </li>
              <li class="list-inline-item">
                <small>
                  {{my_notifications_page_from}}-{{my_notifications_page_to}} of {{my_notifications_count}}
                </small>
              </li>
              <li class="list-inline-item">
                <button type="button" {% if my_notifications_page > 1 %} onclick="load_accounts_page('notifications', {{my_notifications_page - 1}})" {% endif %} class="btn btn-link view-all-link ps-0 {{ 'disabled' if my_notifications_page == 1  else '' }}">
                  <i class="bi bi-chevron-left"></i>
                </button>
              </li>
              <li class="list-inline-item">
                <button type="button" {% if my_notifications_page_to < my_notifications_count  %} onclick="load_accounts_page('notifications', {{my_notifications_page + 1}})" {% endif %} class="btn btn-link view-all-link ps-0 {{ '' if my_notifications_page_to < my_notifications_count  else 'disabled' }}">
                  <i class="bi bi-chevron-right"></i>
                </button>
              </li>
            </ul>
            </form>
          </div>


          <div class="notification-wrapper">
            {% for my_notification in my_notifications %}
           

             <!-- Start -->

             <a class="notification-item {% if not my_notification.read %}unread{% endif %}" href="#">

              <div class="notification-item-content d-flex">
                <div class="me-2">
                  <input class="form-check-input" name="notifications" type="checkbox" value="{{my_notification.name}}" id="flexCheckDefault">

                </div>
                <div class="d-inline-block">
                  <div>
                    {{my_notification.subject}}
                  </div>
                </div>
              </div>
              <div class="notification-item-time"><i>{{my_notification.creations}}</i></div>
            </a>
            {% endfor %}

            <!-- End -->
             <!-- Start -->

 

          </div>
        </div>
        <!--------------------->
        <!-- Notification Tab End -->
        <!--------------------->

         <!---------------->
      <!--- edit profile start --->
      <!---------------->
    <!-- <div class="col-xl-9  tab-pane fade account-edit-profile-blk"  id="v-pills-edit-profile" role="tabpanel" -->
    <!-- aria-labelledby="v-pills-edit-profile"> -->
      <!-- <div class="edit-profile-wrapper" id="edit-profile" > -->
        <div class="account-nav-main-blk tab-pane fade account-edit-profile-blk {{ 'show active' if 'profile' in frappe.form_dict  else '' }}"   id="v-pills-edit-profile" role="tabpanel"  aria-labelledby="v-pills-edit-profile" >
          <form id="edit_profile">
          <h2 class="section-title">Profile</h2>
          <div class="row">
            <div class=" col-lg-6 mx-auto signup-box">
              <div class=" mb-4 d-flex align-items-center justify-content-center flex-column py-3">
                <div class="profile-pic online">

                  <img src="{{frappe.db.get_value('User', frappe.session.user, 'user_image')}}" class="img-fluid">

                </div>
                <div class="profile-upload-btn pt-2">
                  <input type="file" name="user_image" id="user_image" style="display: none;">
                  <button type="button"  class="btn btn-upload" onclick="$('#user_image').click()">Change Picture</button>
                </div>
              </div>
                <div class="form-group ">
                  <label>Full Name</label>
                  <div class="email-field">
                    <input type="text"  id="full_name" name="full_name" class="form-control" placeholder="" value=  "{{frappe.get_fullname()}}">
                  </div>
                </div>

                <div class="form-group  mt-4">
                  <label>Designation</label>
                  <div class="email-field">
                    <input type="text" id="designation" name="designation" 
                    class="form-control" placeholder="" value="{{frappe.db.get_value('User', frappe.session.user,'designation')}}">
                  </div>
                </div>

                <div class="form-group  mt-4">
                  <label>Email</label>
                  <div class="email-field">
                    <input type="text" id="login_email" class="form-control" placeholder="Enter your mail here" value= "{{frappe.db.get_value('User', frappe.session.user, 'email')}}"
                      required="" autofocus="" disabled>
                  </div>
                </div>

                <div class="form-group mt-4">
                  <label>New password</label>
                  <div class="password-field">
                    <input type="password" name="password" id="password" class="form-control"
                      placeholder="Enter your password here">
                  </div>
                </div>

                <div class="form-group mt-4">
                  <label>Confirm Password</label>
                  <div class="password-field">
                    <input type="password" name="confirm_password" id="confirm_password" class="form-control"
                      placeholder="Enter the same password as above">
                  </div>
                </div>
                
                  <div class="row mt-5 mb-4">
                    <div class="col-lg-6">
                    <button class="btn btn-secondary px-3 py-2   my-2 w-100" data-bs-toggle="modal"
                      data-bs-target="#saveModal" id="cancel-button" type="reset" onclick="location.href='/account'"> 
                      Cancel
                    </button>
                  </div>
                  <div class="col-lg-6">
                    <button class="btn btn-primary px-3 py-2  my-2 w-100" data-bs-toggle="modal" data-bs-target="#successModal" id="save-changes-button" type="submit"
                    >
                      Save changes
                    </button>
                  </div>
                </div>
                 
            </div>
          </div>
          </form>
        <div>
      <!-- </div> -->
    <!-- </div> -->

      
    </div>
  </div>
  </div>


     
</div>
</div>

<script src="/assets/zydus/js/jquery.validate.min.js"></script>
    
<script>
  $(document).ready(function(){
    $(document).on('click', "#set-add-button", function(){
      $("#set-new-reminder").show();
      AddReminder()
    });
  });
  $(document).ready(function(){
    $("#edit-profile-button").click(function(){
      $("#edit-profile").show();
    });
  });

  function setJqueryValidateOnAllForms() {
    console.log('jquery validate added')
    $.validator.setDefaults({
     validClass: 'is-valid',
     errorClass: 'is-invalid'
   });
  $('#edit_profile').validate({
         rules: {
           confirm_password: {
             equalTo : "#password"
           }
         },
         submitHandler: function(form) {
             console.log(form, 'edit_profile form')
             var dataArr = $(form).serializeArray()
             var obj = new FormData()
             dataArr.forEach(x => {
                 obj.append(x.name, x.value)
             })
             if(document.getElementById('user_image').files.length > 0) {
               obj.append('file', document.getElementById('user_image').files[0])
             }
             console.log(obj)
             event.preventDefault()
             $.ajax({
                 url: '/api/method/zydus.www.account.edit_profile',
                 method: 'POST',
                 data: obj,
                 contentType: false,
                 processData: false,
                 headers: {
                     'X-Frappe-CSRF-Token': frappe.csrf_token
                 },
                 success: function(res) {
                  
                     console.log(res)
                     if(res.message[0] == 0) {
                       alert(res.message[1])
                       return
                      
                     }
                    //  show modal
                    alert("Profile updated successfully!")
                    //  location.href = '/account?edit_profile'
                    var curr_tab = $('#v-pills-tab .nav-link.active').attr('id')
                    $('#like-button-parent').load(location.pathname + '?' + curr_tab + ' #like-button',function() {
                      setJqueryValidateOnAllForms()
                    }
                   
                  )
                 }
             })
         } 
     })

    $('#set-reminder-form').validate({
        submitHandler: function(form) {
            
            
            var dataArr = $(form).serializeArray()
            var obj = {}
            dataArr.forEach(x => {
                obj[x.name] = x.value
            })
            obj['owner'] = '{{frappe.session.user}}'

            $.ajax({
                url: '/api/resource/ToDo',
                method: 'POST',
                data: JSON.stringify(obj),
                headers: {
                    'X-Frappe-CSRF-Token': frappe.csrf_token
                },
                success: function(res) {
                    console.log(res)
                    $(form).trigger('reset')
                    $("#set-new-reminder").hide();
                    // $('#like-button-parent').load(location.pathname + location.search + ' #like-button')
                    var curr_tab = $('#v-pills-tab .nav-link.active').attr('id')
                    $('#like-button-parent').load(location.pathname + '?' + curr_tab + ' #like-button', function() {
                      setJqueryValidateOnAllForms()
                    })
                    
                    
                  
                }

                
                })
          
        }
    })
  }

  setJqueryValidateOnAllForms()

    function AddReminder(){
      console.log('Add Reminder Called')
    //  alert("reminder")
     $('#set-reminder-form').validate().resetForm()
        
        // setting submit inputs as required
        $('#set-reminder-form [name=date]').attr('required', true)
        $('#set-reminder-form [name=title]').attr('required',true)
        $('#set-reminder-form [name=description]').attr('required',true)
  
  }       
  function CancelReminder(){
    $("#set-new-reminder").hide();
  }

  function load_accounts_page(tab, page) {
    $('#like-button-parent').load('/account?'+ tab +'='+ page +' #like-button',function() {
        setJqueryValidateOnAllForms()
    })
  }


</script>
<script>
$(document).ready(function(){
  $(document).on("click","#mark_as_read-btn",function(){
    event.preventDefault()
    var notif_ids = []
    document.querySelectorAll('input:checked[name=notifications]').forEach(x => notif_ids.push(x.value))
    var docnames = notif_ids.join(',')
    
    
    $.ajax({
      url: '/api/method/zydus.www.account.notification_read_unread',
      method: 'POST',
      data:{docnames:docnames,mark_as_read: 1},
      headers: {
               'X-Frappe-CSRF-Token': frappe.csrf_token
      },
      success: function(res) {
        console.log(res)
        // location.href = '/account?notifications'
        var curr_tab = $('#v-pills-tab .nav-link.active').attr('id')
        $('#like-button-parent').load(location.pathname + '?' + curr_tab + ' #like-button',function() {
            setJqueryValidateOnAllForms()
        }) 
      }

    })
  })
})
</script>

<script>
  $(document).ready(function(){
    $(document).on("click","#mark_as_unread-btn",function(){
      event.preventDefault()
      var notif_ids = []
      document.querySelectorAll('input:checked[name=notifications]').forEach(x => notif_ids.push(x.value))
      var docnames = notif_ids.join(',')
      
      
      $.ajax({
        url: '/api/method/zydus.www.account.notification_read_unread',
        method: 'POST',
        data:{docnames:docnames,mark_as_read: 0},
        headers: {
                 'X-Frappe-CSRF-Token': frappe.csrf_token
        },
        success: function(res) {
          console.log(res)
          // location.href = '/account?notifications'
          var curr_tab = $('#v-pills-tab .nav-link.active').attr('id')
          $('#like-button-parent').load(location.pathname + '?' + curr_tab + ' #like-button',function() {
              setJqueryValidateOnAllForms()
          })
        }
  
      })
    })
  })
</script>

<script>
    $(document).ready(function(){
    $(document).on("click","#mark_all_as_read-btn",function(){
        event.preventDefault()
        $.ajax({
              url: '/api/method/frappe.desk.doctype.notification_log.notification_log.mark_all_as_read',
              method: 'POST',
              headers: {
                        'X-Frappe-CSRF-Token': frappe.csrf_token
              },
              success: function(res) {
                    console.log(res)  
                    // location.href = '/account?notifications'
                    var curr_tab = $('#v-pills-tab .nav-link.active').attr('id')
                    $('#like-button-parent').load(location.pathname + '?' + curr_tab + ' #like-button',function() {
                      setJqueryValidateOnAllForms()
                    })
              }
        })
      })
    })
    
                
</script>
<!-- edit profile -->
<script>
  // Jquery Validator Defaults

    function toggleLikeA(dt, dn, add) {
      $.ajax({
        url: '/api/method/frappe.desk.like.toggle_like',
        method: 'POST',
        data: {
          doctype: dt, 
          name: dn,
          add: add
        },
        headers: {
          'X-Frappe-CSRF-Token': frappe.csrf_token
        },
        success: function() {
          var curr_tab = $('#v-pills-tab .nav-link.active').attr('id')
          $('#like-button-parent').load(location.pathname + '?' + curr_tab + ' #like-button',function() {
            setJqueryValidateOnAllForms()
          })
        }
      })
    }

    function SnoozeReminderA(date, days,ReminderName) {
      var result = new Date(date);
      result.setDate(result.getDate() + days);
      var new_date = result.toISOString().split('T')[0]
      $.ajax({
        url: '/api/resource/ToDo/'+ ReminderName,
        method: 'PUT',
        data: JSON.stringify({'date': new_date }),
        headers: {
          'X-Frappe-CSRF-Token': frappe.csrf_token
        },
        success: function() {
          var curr_tab = $('#v-pills-tab .nav-link.active').attr('id')
          $('#like-button-parent').load(location.pathname + '?' + curr_tab + ' #like-button',function() {
              setJqueryValidateOnAllForms()
          })
        }   
      })
    }
    function DoneA(ReminderName) {
      $.ajax({
        url: '/api/resource/ToDo/'+ ReminderName,
        method: 'PUT',
        data: JSON.stringify({"status":"Closed"}),
        headers: {
            'X-Frappe-CSRF-Token': frappe.csrf_token
        },
        success: function() {
          var curr_tab = $('#v-pills-tab .nav-link.active').attr('id')
          $('#like-button-parent').load(location.pathname + '?' + curr_tab + ' #like-button',function() {
              setJqueryValidateOnAllForms()
          })
          
        }   
      })
    }
           
 </script>

{% endblock %}