{% extends "templates/zydus-portal-ui.html" %}
{% block title%}Home{% endblock %}
{% block content%}
<div class="row">
    <div class="col-xl-12 px-md-3 px-lg-5 px-xl-4 px-xxl-5 pt-5 main-scroll-area"
        style="max-height: calc(100vh - 63px); overflow: auto;">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h2 class="section-title">FAQs</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-10 ">
                    <div class="accordion accordion-flush mt-4 mb-5" id="accordionFlush">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse "
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">
                                <div class="accordion-body" style="text-align: justify;">
                                    Nulla pharetra justo lacus, ac tincidunt orci rutrum porta. Suspendisse mollis ipsum
                                    hendrerit ex volutpat consequat. Etiam ac magna tempor, mollis tortor vel, posuere
                                    sem. Praesent venenatis congue dapibus. Etiam sit amet turpis euismod, venenatis
                                    magna in, pharetra risus. Aenean non placerat tortor. ac tincidunt orci rutrum
                                    porta. Suspendisse mollis ipsum hendrerit ex volutpat consequat.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    Quisque odio ante, pulvinar ac justo a, interdum ornare elit.
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse "
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlush">
                                <div class="accordion-body" style="text-align: justify;">
                                    Nulla pharetra justo lacus, ac tincidunt orci rutrum porta. Suspendisse mollis ipsum
                                    hendrerit ex volutpat consequat. Etiam ac magna tempor, mollis tortor vel, posuere
                                    sem. Praesent venenatis congue dapibus. Etiam sit amet turpis euismod, venenatis
                                    magna in, pharetra risus. Aenean non placerat tortor. ac tincidunt orci rutrum
                                    porta. Suspendisse mollis ipsum hendrerit ex volutpat consequat.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    Quisque odio ante, pulvinar ac justo a, interdum ornare elit.
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlush">
                                <div class="accordion-body" style="text-align: justify;">
                                    Nulla pharetra justo lacus, ac tincidunt orci rutrum porta. Suspendisse mollis ipsum
                                    hendrerit ex volutpat consequat. Etiam ac magna tempor, mollis tortor vel, posuere
                                    sem. Praesent venenatis congue dapibus. Etiam sit amet turpis euismod, venenatis
                                    magna in, pharetra risus. Aenean non placerat tortor. ac tincidunt orci rutrum
                                    porta. Suspendisse mollis ipsum hendrerit ex volutpat consequat.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                    Quisque odio ante, pulvinar ac justo a, interdum ornare elit.
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse "
                                aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlush">
                                <div class="accordion-body" style="text-align: justify;">
                                    Nulla pharetra justo lacus, ac tincidunt orci rutrum porta. Suspendisse mollis ipsum
                                    hendrerit ex volutpat consequat. Etiam ac magna tempor, mollis tortor vel, posuere
                                    sem. Praesent venenatis congue dapibus. Etiam sit amet turpis euismod, venenatis
                                    magna in, pharetra risus. Aenean non placerat tortor. ac tincidunt orci rutrum
                                    porta. Suspendisse mollis ipsum hendrerit ex volutpat consequat.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>





    </div>
</div>
{% endblock %}