{% extends "templates/zydus-portal-ui.html" %}
{% block title%}Home{% endblock %}
{% block content%}
<div class="row"  >
    <div class="col-xl-12 px-md-3 px-lg-5 px-xl-4 px-xxl-5 pt-5 main-scroll-area" style="max-height: calc(100vh); overflow: auto;display:none;" id="add-new-faq" >
      <div class="d-flex align-items-center justify-content-between mb-3" >
        <h2 class="section-title">Add FAQ</h2>
      </div>
      <form class="custom-form" id="set-add-faqs">
        <div class="row gx-3 gy-3">
          <div class="col-lg-10 col-12 ">
            <label for="projectName" class="form-label">Question</label>
            <input type="text" class="form-control" name="question" placeholder="mention the question here" id="projectName">
          </div>
          <div class="col-lg-10 col-12 ">
            <label for="projectName" class="form-label">Answer</label>
            <textarea class="form-control" name="answer" placeholder="add the answer to the above question here" rows="6"></textarea>
          </div>
          
          <div class="col-lg-10 col-12 text-end search-action-buttons">
            <button class="btn btn-outline-secondary m-1" onclick="location.href='/faq'">Cancel</button>
            <button class="btn btn-secondary m-1" onclick="AddFaq()">Add</button>
          </div> 
        </div>
      </form>
    </div>
    <div class="col-xl-12 px-md-3 px-lg-5 px-xl-4 px-xxl-5 pt-5 main-scroll-area" id="faq-list"
        style="max-height: calc(100vh - 63px); overflow: auto;">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h2 class="section-title">FAQs</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-10 ">
                    <div class="accordion accordion-flush mt-4 mb-5" id="accordionFlush">
                        {% for faq in faqs %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-{{faq.name}}" aria-expanded="false"
                                    aria-controls="faq-{{faq.name}}">
                                    {{faq.question}}
                                </button>
                            </h2>
                            <div id="faq-{{faq.name}}" class="accordion-collapse collapse "
                                aria-labelledby="faq-{{faq.name}}" data-bs-parent="#accordionFlush">
                                <div class="accordion-body" style="text-align: justify;">
                                   {{faq.answer}}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if admin_access_allowed %}
        <div class="add-missing-btn">
            <button class="btn btn-primary" id="set-add-faq-button" type="button" >
              <img src="/assets/zydus/images/plus-icn.png" class="img-fluid">
            </button>
        </div>
        {% endif %}
    </div>
    <!-- <div id="content-wrapper"   class="main" id="add-new-faq">
        <div class="container-fluid"  >
         
        </div>
      </div>
     -->
    
</div>


<script src="/assets/zydus/js/jquery.validate.min.js" ></script>


    
<script>

  $(document).ready(function(){
    $("#set-add-faq-button").click(function(){
      $("#add-new-faq").show();
      $("#faq-list").hide()
    });
  });

</script>
<script>

    $('#set-add-faqs').validate({
        submitHandler: function(form) {
            
            
            var dataArr = $(form).serializeArray()
            var obj = {}
            dataArr.forEach(x => {
                obj[x.name] = x.value
            })

            $.ajax({
                url: '/api/resource/FAQ',
                method: 'POST',
                data: JSON.stringify(obj),
                headers: {
                    'X-Frappe-CSRF-Token': frappe.csrf_token
                },
                success: function(res) {
                    console.log(res)
                    $(form).trigger('reset')
                    //$("#set-add-faqs").hide(); 
                    location.href='/faq'
                     
                }

                
                })
          
        }
    });
  

    function AddFaq(){
      console.log('Add faq Called')
    //  alert("reminder")
     $('#set-add-faqs').validate().resetForm()
        
        // setting submit inputs as required
        $('#set-add-faqs [name=question]').attr('required', true)
        $('#set-add-faqs [name=answer]').attr('required',true)
       
  }       

</script>
{% endblock %}
