{% extends "templates/zydus-portal-ui.html" %}
{% block title%}Search Filter{% endblock %}
{% block content%}
<link href="/assets/zydus/css/tagify.css" rel="stylesheet" />
<div class="row">
  <div class="col-xl-12 px-md-3 px-lg-5 px-xl-4 px-xxl-5 pt-5 main-scroll-area">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h2 class="section-title">Search Filter</h2>
    </div>
    <form class="custom-form" id="search-form">
      <div class="row gx-3 gy-3">
        <div class="col-12 col-md-6 col-xl-3">
          <label for="brandSelect" class="form-label">Brand</label>
          <select name="brand" class="form-select" aria-label="Default select example" id="brandSelect">
            <option selected="" disabled="" value="">
              Choose the brand name
            </option>
          </select>
        </div>
        <div class="col-12 col-md-6">
          <label for="projectName" class="form-label">Project/ Datasheet Name</label>
          <input name="project_name" type="text" class="form-control" placeholder="Enter the title of the project"
            id="projectName" />
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <label for="agency" class="form-label">Agency</label>
          <select name="agency" class="form-select" aria-label="Default select example" id="agency">
            <option selected="" disabled="" value="">
              Choose the agency name
            </option>
          </select>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <label for="dateSelect" class="form-label">Date of Project/ Datasheet</label>
          <div class="row" id="dateSelect">
            <div class="col-6 col-xxl-8">
              <select name="month" class="form-select">
                <option selected="" disabled="" value="">Month</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
              </select>
            </div>
            <div class="col-6 col-xxl-4">
              <select name="year" class="form-select">
                <option selected="" disabled="" value="">Year</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-6 col-xl-5">
          <label for="type" class="form-label">Project/ Data Types</label>
          <input type="text" name="type" data-type="tags-whitelisted" class='form-control'
            placeholder="Choose Project / Data type " />
          <!-- <select name="project_type" class="form-select" aria-label="Default select example" id="projectType">
            <option selected="" disabled="" value="">
              Choose the Project Type
          </option>
          </select> -->
        </div>
        <div class="col-6 col-xl-4">
          <label for="tags" class="form-label">Tags</label>
          <input type="text" class="form-control" data-type="tags" id="tags" name="tags" />
        </div>
        <div class="col-12 text-end search-action-buttons">
          <button type="reset" class="btn btn-outline-secondary m-1">Clear</button>
          <button class="btn btn-secondary m-1">Search</button>
        </div>
      </div>
    </form>
    <div id="like-button-parent" class="search-results-parent">
      <div id="like-button" class="search-results" {% if search_results | len==0 %} style="display: none" {% endif %}>
        <div
          class="d-flex flex-column flex-lg-row align-items-baseline justify-content-start mt-5 mb-3 search-result-tags">
          <h2 class="section-title">Search Results</h2>
          <div class="d-block d-lg-inline">
            <span class="text-muted m-1 m-lg-2">for</span>
            {% for search_tag in search_tags %}
            <span class="badge m-1 m-lg-2">{{search_tag}}</span>
            {% endfor %}
          </div>
        </div>
        <div id="search-result-cards">
          {% for search_result in search_results %}
          {% include "templates/zydus-portal-ui-includes/search/search-result-card.html" %}
          {% endfor%}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/zydus/js/jquery.validate.min.js"></script>
<script src="/assets/zydus/js/tagify.min.js"></script>
<script>
  // search form submit handler
  $('#search-form').validate({
    submitHandler: function (form) {
      var dataArr = $(form).serializeArray()
      var obj = {}
      dataArr.forEach(x => {
        if (x.name == 'tags') {
          x.value = JSON.parse(x.value || '[]').map(x => x.value).join(',')
        }
        if (x.name == 'type') {
          x.value = JSON.parse(x.value || '[]').map(x => x.value).join(',')
        }
        if (x.value.length > 0) {
          obj[x.name] = x.value
        }
      })
      if (Object.keys(obj).length == 0) {
        return
      }
      $('.search-results-parent').load(location.pathname + '?' + $.param(obj) + ' .search-results')
    }
  })
  // creating options for 25 years in the past
  var currentYear = new Date().getFullYear()
  for (var i = 1; i <= 25; i++) {
    $('select[name=year]').append('<option value="' + currentYear + '">' + currentYear + '</option>')
    currentYear--;
  }
  // populating brands
  var brands = {{ brands }}
  for (var i = 0; i < brands.length; i++) {
    var brand = brands[i]
    $('select[name=brand]').append('<option value="' + brand + '">' + brand + '</option>')
  }
  // populating agencies
  var agencies = {{ agencies }}
  for (var i = 0; i < agencies.length; i++) {
    var agency = agencies[i]
    $('select[name=agency]').append('<option value="' + agency + '">' + agency + '</option>')
  }
  // populating project_types
  var project_types = {{ project_types }}
  for (var i = 0; i < project_types.length; i++) {
    var project_type = project_types[i]
    $('select[name=project_type]').append('<option value="' + project_type + '">' + project_type + '</option>')
  }
  // tagify project_type and data_type input
  var input = document.querySelectorAll("[name=type]");
  if (typeof Tagify !== "undefined") {
    input.forEach(x => {
      new Tagify(x, {
        whitelist: {{ types }},
      enforceWhitelist: true,
      mode: "select",
            })
        });
    }
  setTimeout(function () {
    // Sauce: https://stackoverflow.com/a/50147341/9403680
    const params = Object.fromEntries(new URLSearchParams(location.search));
    console.log(params)
    $('[name=brand]').val(params.brand || '')
    $('[name=agency]').val(params.agency || '')
    $('[name=type]').val(params.type || '')
    $('[name=project_name]').val(params.project_name || '')
    $('[name=month]').val(params.month || '')
    $('[name=year]').val(params.year || '')
    if ((params.tags || '').length > 0) {
      $('[name=tags]').val(JSON.stringify(params.tags.split(',').map(x => { return { value: x } })))
    }
  }, 500)
</script>
{% endblock %}