{% extends "templates/zydus-portal-ui.html" %}
{% block title%}Upload{% endblock %}
{% block content%}
<link rel="stylesheet" href="/assets/zydus/css/dropzone.min.css" type="text/css" />
<link href="/assets/zydus/css/tagify.css" rel="stylesheet" />
<div class="row upload">
    <div class="col-lg-12 px-md-3 px-lg-5 px-xl-4 px-xxl-5 pt-5">
        <nav class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-project-link" data-bs-toggle="tab" href="#nav-project-content" role="tab"
                aria-controls="nav-project" aria-selected="true">Upload Project</a>
            <a class="nav-link" id="nav-data-link" data-bs-toggle="tab" href="#nav-data-content" role="tab"
                aria-controls="nav-data" aria-selected="false">Upload Data Sheet</a>

            <a class="nav-link" id="nav-saved-link" data-bs-toggle="tab" href="#nav-saved-content" role="tab"
                aria-controls="nav-saved" aria-selected="false">Saved</a>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-project-content" role="tabpanel"
                aria-labelledby="nav-project-link">
                <form id="upload-project-form" class="custom-form project-form">
                    <input type="hidden" name="docstatus">
                    <input type="hidden" name="doctype" value="Project">
                    <div class="row gx-3 gy-3 mt-md-3">
                        <div class="col-12 col-lg-6 col-xl-4">
                            <div class="dropzone" id="upload-project-dropzone"></div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-8">
                            <div
                                class="d-flex flex-column flex-md-row flex-lg-column flex-xl-row align-items-baseline justify-content-between mb-3">
                                <h2 class="title">Project Details</h2>
                                <div class="text-primary">
                                    <small class="me-2">
                                        **mandatory to fill to save
                                    </small>
                                    <small class="me-2"> *to fill to submit </small>
                                </div>
                            </div>
                            <div class="row gx-3 gy-3">
                                <div class="col-12 col-md-6 col-lg-12 col-xl-5">
                                    <label>
                                        Brand
                                        <sup class="text-primary">**</sup>
                                    </label>
                                    <select name="brand" class="form-select" required>
                                        <option selected="" disabled="">
                                            Choose the brand name
                                        </option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 col-lg-12 col-xl-7">
                                    <label>
                                        Project name
                                        <sup class="text-primary">**</sup>
                                    </label>
                                    <input name="title" class="form-control" placeholder="Enter the title of the project" required>
                                </div>
                                <div class="col-12 col-md-6 col-lg-12 col-xl-5">
                                    <label>
                                        Date of Project
                                        <sup>*</sup>
                                    </label>
                                    <div class="row gx-3 gy-3">
                                        <div class="col-6 col-xxl-8">
                                            <select name="month" class="form-select" required>
                                                <option selected disabled>Month</option>
                                                <option value="January">January</option>
                                                <option value="February">February</option>
                                                <option value="March">March</option>
                                                <option value="April">April</option>
                                                <option value="May">May</option>
                                                <option value="June">June</option>
                                                <option value="July">July</option>
                                                <option value="August">August</option>
                                                <option value="September">September</option>
                                                <option value="October">October</option>
                                                <option value="November">November</option>
                                                <option value="December">December</option>
                                            </select>
                                        </div>
                                        <div class="col-6 col-xxl-4">
                                            <select name="year" class="form-select" required>
                                                <option selected disabled>Year</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-12 col-xl-7">
                                    <label>
                                        Agency
                                        <sup class="text-primary"> * </sup>
                                    </label>
                                    <select name="agency" class="form-select">
                                        <option selected="" disabled="">
                                            Choose the agency
                                        </option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 col-lg-12 col-xl-5">
                                    <label>
                                        Project Type
                                        <sup>*</sup>
                                    </label>
                                    <select name="project_type" class="form-select">
                                        <option selected="" disabled="">
                                            Choose the project type
                                        </option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 col-lg-12 col-xl-7">
                                    <label> Tags </label>
                                    <input class="form-control" data-type="tags" placeholder="Add tags for the project">
                                </div>
                                <div class="col-12">
                                    <label>Description</label>
                                    <input name="description" class="form-control"
                                        placeholder="Enter one liner description of the project">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label>Target Group</label>
                            <input name="target_group" class="form-control"
                                placeholder="Include demographic, usage and attitudinal target group">
                        </div>
                        <div class="col-12 col-md-6">
                            <label>
                                Markets
                                <sup class="text-primary">*</sup>
                            </label>
                            <input name="markets" class="form-control" placeholder="Mention markets with sample sizes">
                        </div>
                        <div class="col-12">
                            <label> Business Problems </label>
                            <input name="business_problems" class="form-control"
                                placeholder="Enter a short description of the business issue to be solved">
                        </div>
                        <div class="col-12">
                            <label> Research Objective </label>
                            <input name="research_objectives" class="form-control" placeholder="Mention what we need from the research">
                        </div>
                        <div class="col-12">
                            <label> Result </label>
                            <input name="result" class="form-control"
                                placeholder="Enter one line outcome of the study ( also include performance vs. action standards here)">
                        </div>
                        <div class="col-12">
                            <label> Learnings </label>
                            <textarea name="learnings" class="form-control"
                                placeholder="Mention the key insights  and learnings from the study in short sentences (not more than 10)"
                                rows="6"></textarea>
                        </div>
                        <div class="col-12">
                            <label> Actions </label>
                            <input name="actions" class="form-control"
                                placeholder="Mention the business decisions/actions taken basis insights from the study">
                        </div>
                        <div class="col-12 text-end action-btns mb-4">
                            <button class="btn btn-secondary me-2" type="button" onclick="saveUploadForm()">
                                Save for later
                            </button>
                            <button class="btn btn-primary" type="button" onclick="submitUploadForm()">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="nav-data-content" role="tabpanel" aria-labelledby="nav-data-link">
                <div class="row gx-3 gy-3 mt-md-3">
                    <div class="col-12 col-lg-6 px-md-5">
                        <div class="p-xxl-5 h-100 d-flex align-items-center">
                            <div class="dropzone" id="upload-data-sheet-dropzone"></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 px-lg-5">
                        <form id="upload-datasheet-form" form class="custom-form project-form">
                            <input type="hidden" name="docstatus">
                            <input type="hidden" name="doctype" value="Datasheet">
                            <div
                                class="d-flex flex-column flex-md-row flex-lg-column flex-xl-row align-items-baseline justify-content-between mb-3 mt-3 mt-md-0">
                                <h2 class="title">Project Details</h2>
                                <div class="text-primary">
                                    <small class="me-2">
                                        **mandatory to fill to save
                                    </small>
                                    <small class="me-2"> *to fill to submit </small>
                                </div>
                            </div>
                            <div class="row gx-3 gy-3 mt-lg-4">
                                <div class="col-12">
                                    <label>
                                        Brand 
                                        <sup class="text-primary">**</sup>
                                    </label>
                                    <select name="brand" class="form-select" required>
                                        <option selected="" disabled="">
                                            Choose the brand name
                                        </option>
                                    </select>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <label>
                                        Data Sheet name
                                        <sup class="text-primary">*</sup>
                                    </label>
                                    <input name="title" class="form-control" placeholder="Enter the title of the Datasheet" required>
                                    
                                </div>
                                <div class="col-12">
                                    <label>
                                        Date of Project
                                        <sup>*</sup>
                                    </label>
                                    <div class="row gx-3 gy-3">
                                        <div class="col-6 col-xxl-8">
                                            <select name="month" class="form-select" required>
                                                <option selected disabled>Month</option>
                                                <option value="January">January</option>
                                                <option value="February">February</option>
                                                <option value="March">March</option>
                                                <option value="April">April</option>
                                                <option value="May">May</option>
                                                <option value="June">June</option>
                                                <option value="July">July</option>
                                                <option value="August">August</option>
                                                <option value="September">September</option>
                                                <option value="October">October</option>
                                                <option value="November">November</option>
                                                <option value="December">December</option>
                                            </select>
                                        </div>
                                        <div class="col-6 col-xxl-4">
                                            <select name="year" class="form-select" required>
                                                <option selected disabled>Year</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label>
                                        Agency
                                        <sup class="text-primary"> * </sup>
                                    </label>
                                    <select name="agency" class="form-select" required>
                                        <option selected="" disabled="">
                                            Choose the agency
                                        </option>
                                    </select>
                                </div>

                                <div class="col-12">
                                    <label>
                                        Data Type
                                        <sup class="text-primary"> * </sup>
                                    </label>
                                    <select name="data_type" class="form-select" required>
                                        <option selected="" disabled="">
                                            Choose the data types
                                        </option>
                                    </select>
                                   
                                </div>
                                <div class="col-12">
                                    <label> Tags </label>
                                    <input class="form-control" data-type="tags" placeholder="Add tags for the data">
                                </div>
                                <div class="col-12">
                                    <label> Description </label>
                                    <textarea class="form-control"
                                        placeholder="Enter one liner description of the data"></textarea>
                                </div>
                                
                                <div class="col-12 text-end action-btns mt-5">
                                    <button class="btn btn-primary" type="button" onclick="submitDatasheetForm()">
                                        Submit
                                    </button>
                                        <!-- <button class="btn btn-primary"  onclick="submitDatasheetForm()" >
                                            Submit
                                        </button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-saved-content" role="tabpanel" aria-labelledby="nav-saved-link">
                <div class="saved-nav-wrap">
                    <ul class="nav nav-pills saved-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">client list (sugarfree)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">file (nutralite)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">sales 21 (nycil)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">marketing stategies ‘22 (everyuth)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">file sample 23 (sugar lite)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">file sample 40 (glucon-d)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">file sample 40 (glucon-d)</a>
                        </li>
                    </ul>
                </div>
                <form class="custom-form project-form">
                    <div class="row gx-3 gy-3 mt-md-3">
                        <div class="col-12 col-lg-6 col-xl-4">
                            <div class="dropzone" id="upload-saved-projects-dropzone"></div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-8">
                            <div
                                class="d-flex flex-column flex-md-row flex-lg-column flex-xl-row align-items-baseline justify-content-between mb-3">
                                <h2 class="title">Project Details</h2>
                                <div class="text-primary">
                                    <small class="me-2">
                                        **mandatory to fill to save
                                    </small>
                                    <small class="me-2"> *to fill to submit </small>
                                </div>
                            </div>
                            <div class="row gx-3 gy-3">
                                <div class="col-12 col-md-6 col-lg-12 col-xl-5">
                                    <label>
                                        Brand
                                        <sup class="text-primary">**</sup>
                                    </label>
                                    <select name="brand" class="form-select is-valid">
                                        <option selected="" disabled="">
                                            Choose the brand name
                                        </option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 col-lg-12 col-xl-7">
                                    <label>
                                        Project name
                                        <sup class="text-primary">**</sup>
                                    </label>
                                    <input class="form-control is-invalid" placeholder="Enter the title of the project">
                                </div>
                                <div class="col-12 col-md-6 col-lg-12 col-xl-5">
                                    <label>
                                        Date of Project
                                        <sup>*</sup>
                                    </label>
                                    <div class="row gx-3 gy-3">
                                        <div class="col-6 col-xxl-8">
                                            <select name="month" class="form-select">
                                                <option selected="" disabled="">Month</option>
                                                <option value="January">January</option>
                                                <option value="February">February</option>
                                                <option value="March">March</option>
                                                <option value="April">April</option>
                                                <option value="May">May</option>
                                                <option value="June">June</option>
                                                <option value="July">July</option>
                                                <option value="August">August</option>
                                                <option value="September">September</option>
                                                <option value="October">October</option>
                                                <option value="November">November</option>
                                                <option value="December">December</option>
                                            </select>
                                        </div>
                                        <div class="col-6 col-xxl-4">
                                            <select name="year" class="form-select" required>
                                                <option selected disabled>Year</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-12 col-xl-7">
                                    <label>
                                        Agency
                                        <sup class="text-primary"> * </sup>
                                    </label>
                                    <select name="agency" class="form-select">
                                        <option selected="" disabled="">
                                            Choose the agency
                                        </option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 col-lg-12 col-xl-5">
                                    <label>
                                        Project Type
                                        <sup>*</sup>
                                    </label>
                                    <select name="project_type" class="form-select">
                                        <option selected="" disabled="">
                                            Choose the project_type
                                        </option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 col-lg-12 col-xl-7">
                                    <label> Tags </label>
                                    <input class="form-control" data-type="tags" placeholder="Add tags for the project">
                                </div>
                                <div class="col-12">
                                    <label>Description</label>
                                    <input class="form-control"
                                        placeholder="Enter one liner description of the project">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label>Target Group</label>
                            <input class="form-control"
                                placeholder="Include demographic, usage and attitudinal target group">
                        </div>
                        <div class="col-12 col-md-6">
                            <label>
                                Markets
                                <sup class="text-primary">*</sup>
                            </label>
                            <input class="form-control" placeholder="Mention markets with sample sizes">
                        </div>
                        <div class="col-12">
                            <label> Business Problems </label>
                            <input class="form-control"
                                placeholder="Enter a short description of the business issue to be solved">
                        </div>
                        <div class="col-12">
                            <label> Research Objective </label>
                            <input class="form-control" placeholder="Mention what we need from the research">
                        </div>
                        <div class="col-12">
                            <label> Result </label>
                            <input class="form-control"
                                placeholder="Enter one line outcome of the study ( also include performance vs. action standards here)">
                        </div>
                        <div class="col-12">
                            <label> Learnings </label>
                            <textarea class="form-control"
                                placeholder="Mention the key insights  and learnings from the study in short sentences (not more than 10)"
                                rows="6"></textarea>
                        </div>
                        <div class="col-12">
                            <label> Actions </label>
                            <input class="form-control"
                                placeholder="Mention the business decisions/actions taken basis insights from the study">
                        </div>
                        <div class="col-12 text-end action-btns mb-4">
                            <button class="btn btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#saveModal"
                                type="button">
                                Save for later
                            </button>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#successModal"
                                type="button">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="successModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content bg-primary">
            <div class="modal-body text-center">
                <img src="/assets/zydus/images/modal_check.svg">
                <div class="text-white mt-1">Project Successfully Uploaded</div>
                <div class="mt-4 d-flex flex-column modal-action-btns px-4">
                    <button onclick="location.reload()" class="btn btn-link text-white">Go to saved</button>
                    <button onclick="location.reload()" class="btn btn-link text-white">Go to upload</button>
                    <button onclick="location.href = '/home'" class="btn btn-link text-white">Go to home</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="saveModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content bg-primary">
            <div class="modal-body text-center">
                <img src="/assets/zydus/images/modal_check.svg">
                <div class="text-white mt-1">Project Successfully Saved</div>
                <div class="mt-4 d-flex flex-column modal-action-btns px-4">
                    <button onclick="location.reload()" class="btn btn-link text-white">Go to saved</button>
                    <button onclick="location.reload()" class="btn btn-link text-white">Go to upload</button>
                    <button onclick="location.href = '/home'" class="btn btn-link text-white">Go to home</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/zydus/js/dropzone.min.js"></script>
<script src="/assets/zydus/js/tagify.min.js"></script>
<script src="/assets/zydus/js/tagify.polyfills.min.js"></script>
<script src="/assets/zydus/js/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    Dropzone.options.uploadProjectDropzone = { // camelized version of the `id`
        paramName: "file", // The name that will be used to transfer the file
        headers: {
            "X-Frappe-CSRF-Token": frappe.csrf_token
        },
        maxFilesize: 2, // MB
        url: '/api/method/upload_file',
        params(files, xhr, chunk) {
            return {
                // make all uploaded files private in File DocType 
                is_private: 1
            }
        }
    };

    Dropzone.options.uploadDataSheetDropzone = { // camelized version of the `id`
        paramName: "file", // The name that will be used to transfer the file
        headers: {
            "X-Frappe-CSRF-Token": frappe.csrf_token
        },
        maxFilesize: 2, // MB
        url: '/api/method/upload_file',
        params(files, xhr, chunk) {
            return {
                // make all uploaded files private in File DocType 
                is_private: 1
            }
        }
    };

    Dropzone.options.uploadSavedProjectsDropzone = { // camelized version of the `id`
        paramName: "file", // The name that will be used to transfer the file
        headers: {
            "X-Frappe-CSRF-Token": frappe.csrf_token
        },
        maxFilesize: 2, // MB
        url: '/api/method/upload_file',
        params(files, xhr, chunk) {
            return {
                // make all uploaded files private in File DocType 
                is_private: 1
            }
        }
    };

    // how to get uploaded files from particular dropzone
    // var dropzone = Dropzone.forElement('#upload-project-dropzone')
    // var uploaded_files = dropzone.getAcceptedFiles()
    // uploaded_files.forEach(x => {
    //     // getting xhr response of file upload api hit
    //     console.log(x.xhr.response)

    //     // getting name of File Document created
    //     var a = JSON.parse(x.xhr.response)
    //     console.log(a.message.name)
    // })

    // how to remove all files from particular dropzone
    // Dropzone.forElement('#upload-project-dropzone').removeAllFiles()
    
    // creating options for 25 years in the past
    var currentYear = new Date().getFullYear()
    for(var i = 1; i <= 25; i++) {
        $('select[name=year]').append('<option value="'+currentYear+'">'+currentYear+'</option>')
        currentYear--;
    }

    // populating brands
    var brands = {{brands}}
    for(var i = 0; i < brands.length; i++) {
        var brand = brands[i]
        $('select[name=brand]').append('<option value="'+brand+'">'+brand+'</option>')
    }

    // populating agencies
    var agencies = {{agencies}}
    for(var i = 0; i < agencies.length; i++) {
        var agency = agencies[i]
        $('select[name=agency]').append('<option value="'+agency+'">'+agency+'</option>')
    }

    // populating project_types
    var project_types = {{project_types}}
    for(var i = 0; i < project_types.length; i++) {
        var project_type = project_types[i]
        $('select[name=project_type]').append('<option value="'+project_type+'">'+project_type+'</option>')
    }
     
     // populating data_types
    var data_types = {{data_types}}
    for(var i = 0; i < data_types.length; i++) {
        var data_type = data_types[i]
        $('select[name=data_type]').append('<option value="'+data_type+'">'+data_type+'</option>')
    }
     

    // Jquery Validator Defaults
    $.validator.setDefaults({
        validClass: 'is-valid',
        errorClass: 'is-invalid'
    });

    // Form validations
    $('#upload-project-form').validate({
        submitHandler: function(form) {
            var dataArr = $(form).serializeArray()
            var obj = {}
            dataArr.forEach(x => {
                if(x.name == 'docstatus') {
                    x.value = parseInt(x.value)
                }
                obj[x.name] = x.value
            })

            $.ajax({
                url: '/api/resource/Project',
                method: 'POST',
                data: JSON.stringify(obj),
                headers: {
                    'X-Frappe-CSRF-Token': frappe.csrf_token
                },
                success: function(res) {
                    console.log(res)

                    // adding tags to created document
                    var tagsArr = JSON.parse($('#upload-project-form [data-type=tags]').val())
                    var tags = tagsArr.map(x => x.value)
                    $.ajax({
                        url: '/api/method/frappe.desk.doctype.tag.tag.add_tags',
                        method: 'POST',
                        async: false,
                        headers: {
                            'X-Frappe-CSRF-Token': frappe.csrf_token
                        },
                        data: {
                            tags: JSON.stringify(tags),
                            dt: 'Project',
                            docs: JSON.stringify([res.data.name])
                        }
                    })

                    // adding attachments to created document
                    var dropzone = Dropzone.forElement('#upload-project-dropzone')
                    var uploaded_files = dropzone.getAcceptedFiles()
                    var uploaded_file_names = uploaded_files.map(x => {
                        // returning name of File Document created
                        var a = JSON.parse(x.xhr.response)
                        return a.message.name
                    })
                    $.ajax({
                        url: '/api/method/frappe.utils.file_manager.add_attachments',
                        method: 'POST',
                        async: false,
                        headers: {
                            'X-Frappe-CSRF-Token': frappe.csrf_token
                        },
                        data: {
                            doctype: 'Project',
                            name: res.data.name,
                            attachments: JSON.stringify(uploaded_file_names)
                        }
                    })

                    // form house keeping
                    $('#upload-project-dropzone').trigger('reset')
                    Dropzone.forElement('#upload-project-dropzone').removeAllFiles()

                    // show modal
                    $('#saveModal').modal('show')
                }
            })
        }
    })

    function saveUploadForm() {
        // resetting form
        $('#upload-project-form').validate().resetForm()
        
        // setting submit inputs as not required
        $('#upload-project-form [name=agency]').attr('required', false)
        $('#upload-project-form [name=project_type]').attr('required', false)
        $('#upload-project-form [name=markets]').attr('required', false)
        $('#upload-project-form [name=docstatus]').val(0)

        $('#upload-project-form').submit()
    }

    function submitUploadForm() {
        // resetting form
        $('#upload-project-form').validate().resetForm()
        
        // setting submit inputs as required
        $('#upload-project-form [name=agency]').attr('required', true)
        $('#upload-project-form [name=project_type]').attr('required', true)
        $('#upload-project-form [name=markets]').attr('required', true)
        $('#upload-project-form [name=docstatus]').val(1)

        $('#upload-project-form').submit()
    }
    
    $('#upload-datasheet-form').validate({
        submitHandler: function(form) {
            var dataArr = $(form).serializeArray()
            var obj = {}
            dataArr.forEach(x => {
                if(x.name == 'docstatus') {
                    x.value = parseInt(x.value)
                }
                obj[x.name] = x.value
            })

            $.ajax({
                url: '/api/resource/Datasheet',
                method: 'POST',
                data: JSON.stringify(obj),
                headers: {
                    'X-Frappe-CSRF-Token': frappe.csrf_token
                },
                success: function(res) {
                    console.log(res)

                     // adding tags to created document
                     var tagsArr = JSON.parse($('#upload-datasheet-form [data-type=tags]').val())
                     var tags = tagsArr.map(x => x.value)
                     $.ajax({
                         url: '/api/method/frappe.desk.doctype.tag.tag.add_tags',
                         method: 'POST',
                         async: false,
                         headers: {
                             'X-Frappe-CSRF-Token': frappe.csrf_token
                         },
                         data: {
                             tags: JSON.stringify(tags),
                             dt: 'Project',
                             docs: JSON.stringify([res.data.name])
                         }
                     })

                    // adding attachments to created document
                    var dropzone = Dropzone.forElement('#upload-data-sheet-dropzone')
                    var uploaded_files = dropzone.getAcceptedFiles()
                    var uploaded_file_names = uploaded_files.map(x => {
                        // returning name of File Document created
                        var a = JSON.parse(x.xhr.response)
                        return a.message.name
                    })
                    $.ajax({
                        url: '/api/method/frappe.utils.file_manager.add_attachments',
                        method: 'POST',
                        async: false,
                        headers: {
                            'X-Frappe-CSRF-Token': frappe.csrf_token
                        },
                        data: {
                            doctype: 'Datasheet',
                            name: res.data.name,
                            attachments: JSON.stringify(uploaded_file_names)
                        }
                    })

                    // form house keeping
                    $('#upload-data-sheet-dropzone').trigger('reset')
                    Dropzone.forElement('#upload-data-sheet-dropzone').removeAllFiles()

                    // show modal
                    $('#saveModal').modal('show')
                }
            })
        }
    })

    function submitDatasheetForm() {
        
        $('#upload-datasheet-form').validate().resetForm()
        
        // setting submit inputs as required
        $('#upload-datasheet-form [name=agency]').attr('required', true)
        $('#upload-datasheet-form [name=data_type]').attr('required',true)
        $('#upload-datasheet-form [name=docstatus]').val(0)

        $('#upload-datasheet-form').submit()
    }

    
</script>
{% endblock %}