<div class="row header-row">
    <div class="col-8 col-sm-9 col-xxl-9 px-md-3 px-lg-5 px-xl-4 px-xxl-5 py-3">
        <div class="row gx-1 gx-xl-2 gx-xxl-4 align-items-center">
            <div class="col-9 col-sm-10 col-md-7 col-lg-7 col-xl-8">
                <div class="search-input-wrap">
                    <input class="form-control form-control-lg" type="text" placeholder="search for files here"
                        aria-label="search for files here" />
                </div>
            </div>
            <div class="col-3 col-sm-2 col-md-5 col-lg-5 col-xl-4">
                <button onclick="location.href = '/upload'" type="button"
                    class="btn btn-lg btn-primary btn-with-icon w-100 text-center header-action-button">
                    <img src="/assets/zydus/images/plus.svg" class="me-md-1" />
                    <span class="d-none d-md-inline"><span class="d-none d-xl-inline">Upload</span> New
                        Document</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-4 col-sm-3 col-xxl-3 pt-3 pe-4 pe-xl-1 pe-xxl-4">
        <div class="d-flex align-items-center justify-content-between w-100">
            <div class="dropdown notification-dropdown">
                <form>
                    <a class="dropdown-toggle btn btn-link p-0" type="button" id="dropdownMenuButton"
                        data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false"
                        aria-haspopup="true" href="#">
                        <div class="notification-wrap has-notification">
                            <img src="/assets/zydus/images/bell.svg" class="img-fluid" />
                        </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <h6>Notifications</h6>
                        <nav class="nav nav-tabs w-100" id="nav-tab" role="tablist">
                            <a class="nav-link active w-50" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home"
                                role="tab" aria-controls="nav-home" aria-selected="true">New</a>
                            <a class="nav-link w-50" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile"
                                role="tab" aria-controls="nav-profile" aria-selected="false">All</a>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <a class="notification-item unread" href="#">
                                    <div class="notification-item-content">
                                        admin
                                        <span class="green-italic">approved</span> your
                                        project <strong>'client list'</strong> for
                                        <strong>'Sugar Free'</strong>
                                    </div>
                                    <div class="notification-item-time">2h ago</div>
                                </a>
                                <a class="notification-item" href="#">
                                    <div class="notification-item-content">
                                        admin
                                        <span class="red-italic">rejected</span> your
                                        project <strong>'marketing'</strong> for
                                        <strong>'Sugar Free'</strong> and added a comment
                                        <div class="notification-comment">
                                            add another file and change the market
                                        </div>
                                    </div>
                                    <div class="notification-item-time">5h ago</div>
                                </a>
                                <a class="notification-item" href="#">
                                    <div class="notification-item-content">
                                        you successfully uploaded a project for
                                        <strong>'Digital Content'</strong> for
                                        <strong>Nycil</strong>
                                    </div>
                                    <div class="notification-item-time">7h ago</div>
                                </a>
                                <a class="notification-item unread" href="#">
                                    <div class="notification-item-content">
                                        admin
                                        <span class="green-italic">approved</span> your
                                        project <strong>'client list'</strong> for
                                        <strong>'Sugar Free'</strong>
                                    </div>
                                    <div class="notification-item-time">2h ago</div>
                                </a>
                                <a class="notification-item" href="#">
                                    <div class="notification-item-content">
                                        admin have a reminder for you
                                        <strong>'upload datasheet'</strong> for today
                                        <div class="notification-comment">
                                            uplaod the client list for nutralite
                                        </div>
                                    </div>
                                    <div class="notification-item-time">5h ago</div>
                                </a>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                aria-labelledby="nav-profile-tab">
                                <a class="notification-item unread" href="#">
                                    <div class="notification-item-content">
                                        admin
                                        <span class="green-italic">approved</span> your
                                        project <strong>'client list'</strong> for
                                        <strong>'Sugar Free'</strong>
                                    </div>
                                    <div class="notification-item-time">2h ago</div>
                                </a>
                                <a class="notification-item" href="#">
                                    <div class="notification-item-content">
                                        admin
                                        <span class="red-italic">rejected</span> your
                                        project <strong>'marketing'</strong> for
                                        <strong>'Sugar Free'</strong> and added a comment
                                        <div class="notification-comment">
                                            add another file and change the market
                                        </div>
                                    </div>
                                    <div class="notification-item-time">5h ago</div>
                                </a>
                                <a class="notification-item" href="#">
                                    <div class="notification-item-content">
                                        you successfully uploaded a project for
                                        <strong>'Digital Content'</strong> for
                                        <strong>Nycil</strong>
                                    </div>
                                    <div class="notification-item-time">7h ago</div>
                                </a>
                                <a class="notification-item unread" href="#">
                                    <div class="notification-item-content">
                                        admin
                                        <span class="green-italic">approved</span> your
                                        project <strong>'client list'</strong> for
                                        <strong>'Sugar Free'</strong>
                                    </div>
                                    <div class="notification-item-time">2h ago</div>
                                </a>
                                <a class="notification-item" href="#">
                                    <div class="notification-item-content">
                                        admin have a reminder for you
                                        <strong>'upload datasheet'</strong> for today
                                        <div class="notification-comment">
                                            uplaod the client list for nutralite
                                        </div>
                                    </div>
                                    <div class="notification-item-time">5h ago</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="dropdown">
                <a class="btn btn-link p-0 dropdown-toggle user-profile" href="#" id="profileDropdownMenuButton"
                    data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="profile-info">
                            <div>Jennifer A. Green</div>
                            <div class="designation">Designation</div>
                        </div>
                        <div class="profile-pic online">
                            <img src="/assets/zydus/images/user.png" class="img-fluid" />
                        </div>
                    </div>
                </a>
                <ul class="dropdown-menu profile-dropdown-menu" aria-labelledby="profileDropdownMenuButton">
                    <li><a class="dropdown-item" href="#">My Uploads</a></li>
                    <li>
                        <a class="dropdown-item" href="#">Favourites</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Reminders</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Notifications</a>
                    </li>
                    <li>
                        <a class="dropdown-item logout" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>