<ul class="navbar-nav sidebar accordion" id=" accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center bg-white" href="/home">
    <div class="sidebar-brand-icon">
      <img src="/assets/zydus/images/logo.png" alt="" class="img-fluid" />
    </div>
  </a>
  <div class="nav-menu-links mt-5">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/home">
        <span class="nav-link-icon">
          <img src="/assets/zydus/images/home.svg" alt="" class="img-fluid">
          <img src="/assets/zydus/images/home-fill.svg" alt="" class="img-fluid active">
        </span>
        <span class="d-none d-md-inline-block">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/upload">
        <span class="nav-link-icon">
          <img src="/assets/zydus/images/uploads.svg" alt="" class="img-fluid">
          <img src="/assets/zydus/images/upload-fill.svg" alt="" class="img-fluid active">
        </span>
        <span class="d-none d-md-inline-block">Upload</span>
      </a>
    </li>
    {% if admin_access_allowed %}
    <li class="nav-item">
      <a class="nav-link" href="/approvals?all">
        <span class="nav-link-icon">
         <img src="./assets/zydus/images/approvals.svg" alt="" class="img-fluid">
         <img src="./assets/zydus/images/approvals-fill.svg" alt="" class="img-fluid active">
       </span>
       <span class="d-none d-md-inline-block">Approvals</span>
     </a>
   </li>  
   {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="/search">
        <span class="nav-link-icon">
          <img src="/assets/zydus/images/search.svg" alt="" class="img-fluid">
          <img src="/assets/zydus/images/search-fill.svg" alt="" class="img-fluid active">
        </span>
        <span class="d-none d-md-inline-block">Search</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/account?my_uploads">
        <span class="nav-link-icon">
          <img src="/assets/zydus/images/account.svg" alt="" class="img-fluid">
          <img src="/assets/zydus/images/account-fill.svg" alt="" class="img-fluid active">
        </span>
        <span class="d-none d-md-inline-block">Account</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/faq">
        <span class="nav-link-icon">
          <img src="/assets/zydus/images/faqs.svg" alt="" class="img-fluid">
          <img src="/assets/zydus/images/faqs-fill.svg" alt="" class="img-fluid active">
        </span>
        <span class="d-none d-md-inline-block">FAQs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/helpdesk">
        <span class="nav-link-icon">
          <img src="/assets/zydus/images/contact.svg" alt="" class="img-fluid">
          <img src="/assets/zydus/images/contact-fill.svg" alt="" class="img-fluid active">
        </span>
        <span class="d-none d-md-inline-block">Help Desk</span>
      </a>
    </li>
  </div>
</ul>
<script>
  setTimeout(function() {
    document.querySelector('.nav-item .nav-link[href^="' + location.pathname.split('-')[0] + '"]').classList.add('active')
  }, 500)
</script>