{% extends "templates/zydus-portal-ui.html" %}
{% block title%}Project{% endblock %}
{% block content%}

<div class="row">
  <div class="col-xl-12 px-md-3 px-lg-5 px-xl-4 px-xxl-5 pt-5 main-scroll-area"
    style="max-height: unset; overflow: auto;">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <div class="d-flex aling-items-baseline">
        <a href="/home" class="btn ps-0 btn-link view-all-link me-1">
          <i class="bi bi-chevron-left"></i>
          back
        </a>
      </div>
    </div>
    <div class="file-contet" style="border-color: {{brand_color}};">
      <div class="row gx-3 gy-3">
        <div class="col-12 col-md-6 col-xl-4">
          <div class="file-list-wrapper">
            <div class="file-list">
              {% for file in attachments %}
              <div class="file-list-item">
                <img src="/assets/zydus/images/file-ext/{{file['ext']}}.png" class="img-fluid">
                <span class="file-name">{{file.file_name}}</span>
                <a href="{{file.file_url}}" target="_blank" class="btn btn-link">view</a>
                <a href="{{file.file_url}}" download class="btn btn-link p-0">
                  <img src="/assets/zydus/images/download.svg" class="img-fluid">
                </a>
              </div>
              {% endfor %}
            </div>
            <div class="text-end">
              <button onclick="document.querySelectorAll('.btn.btn-link.p-0[download]').forEach(x => x.click())"
                class="btn btn-lg btn-secondary">Download All</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-8">
          <h2 class="brand">{{doc.brand}}</h2>
          <div
            class="d-flex align-items-start justify-content-between flex-column flex-md-row flex-lg-column flex-xl-row">
            <h3 class="me-3 file-title">
              {{doc.p_title}}
            </h3>
            <div class="upload-date-time">
              Uploaded on {{frappe.format_date(doc.modified)}}
            </div>
          </div>
          {% if description | len > 0%}
          <p>
            {{doc.description}}
          </p>
          {% endif %}
          <div class="details mt-5 mt-lg-1 mt-xl-5">
            <div class="row gx-3 gy-3">
              <div class="col-12 col-sm-6 col-lg-12 col-xl-6">
                <label>Date of Project</label>
                <div>{{doc.month}} {{doc.year}}</div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12 col-xl-6">
                <label>Project Type</label>
                <div>{{doc.project_type}}</div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12 col-xl-6">
                <label>Agency</label>
                <div>{{doc.agency}}</div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12 col-xl-6">
                <label>Markets</label>
                <div>{{markets}}</div>
              </div>
              <div class="col-12">
                {% if target_group | len > 0%}
                <label>Target Group</label>
                <div>
                  {{doc.target_group}}
                </div>
                {% endif %}
              </div>
              <div class="col-12">
                <div>
                  {% for tag in _user_tags %}
                  <span class="badge tag">{{tag}}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="col-12">
                {% if description | len > 0%}
                <label>Description</label>
                <div>
                  {{doc.description}}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 details">
          {% if business_problems | len > 0%}
          <label>Business Problems</label>
          <p>
            {{doc.business_problems}}
          </p>
          {% endif %}

          {% if research_objectives | len > 0%}
          <label>Research Objectives</label>
          <p>
            {{doc.research_objectives}}
          </p>
          {% endif %}

          {% if result | len > 0%}
          <label>Results</label>
          <p>
            {{doc.result}}
          </p>
          {% endif %}

          {% if learnings | len > 0%}
          <label>Learnings</label>
          <p>
            {{doc.learnings}}
          </p>
          {% endif %}

          {% if actions | len > 0%}
          <label>Actions</label>
          <p>
            {{doc.actions}}
          </p>
          {% endif %}

          <ol>
            <!-- <li>
                Nulla pharetra justo lacus, ac tincidunt orci
                rutrum porta. Suspendisse mollis ipsum hendrerit ex volutpat
                consequat.
              </li>
              <li>
                Etiam ac magna tempor, mollis tortor vel, posuere sem. Praesent venenatis congue dapibus.
              </li>
              <li>
                Etiam sit amet turpis euismod, venenatis magna in, pharetra risus. Aenean
                non placerat tortor. ac tincidunt orci rutrum porta.
              </li> -->
          </ol>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $.ajax({
    url: '/api/method/frappe.desk.form.load.getdoc',

    data: {
      doctype: 'Project',
      name: '{{name}}'
    },
    method: 'GET'
  })
</script>
{% endblock %}