{% extends "templates/zydus-portal-ui.html" %}
{% block title%}Project{% endblock %}
{% block content%}
<div id="like-button-parent">
  <form id="project-form">
    <div id="like-button" class="row">
      <div class="col-xl-12 px-md-3 px-lg-5 px-xl-4 px-xxl-5 pt-5 main-scroll-area"
        style="max-height: unset; overflow: auto;">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <div class="d-flex aling-items-baseline">
            <a href="/home" class="btn ps-0 btn-link view-all-link me-1">
              <i class="bi bi-chevron-left"></i>
              back
            </a>
          </div>
        </div>
        <div class="file-contet" style="border-color: {{brand_color}};">
          <div class="row gx-3 gy-3">
            <div class="col-12 col-md-6 col-xl-4">
              <div class="file-list-wrapper">
                <div class="file-list">
                  {% for file in attachments %}
                  <div class="file-list-item">
                    <img src="/assets/zydus/images/file-ext/{{file['ext']}}.png" class="img-fluid">
                    <span class="file-name">{{file.file_name}}</span>
                    <a href="{{file.file_url}}" target="_blank" class="btn btn-link">view</a>
                    <a href="{{file.file_url}}" download class="btn btn-link p-0">
                      <img src="/assets/zydus/images/download.svg" class="img-fluid">
                    </a>
                  </div>
                  {% endfor %}
                </div>
                <div class="text-end">
                  <button onclick="document.querySelectorAll('.btn.btn-link.p-0[download]').forEach(x => x.click())"
                    class="btn btn-lg btn-secondary">Download All</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-8">
              <div class="row">
                <div class="col col-lg-7 col-md-12 col-12">
                  <div class="d-flex justify-content-between align-items-center">
                    <h2 class="brand">{{doc.brand}}
                      <button
                        onclick="toggleLike('{{doc.doctype}}', '{{doc.name}}', {% if is_liked %}'No'{% else %}'Yes'{% endif %})"
                        type="button" class="btn btn-link p-0 fav-button">
                        <i class="bi {% if is_liked %}bi-heart-fill{% else %}bi-heart{% endif %}" {% if is_liked
                          %}style="color: #000;" {% endif %}></i>
                      </button>
                    </h2>
                    <div id="workflow" style="font-style: italic; font-size: 9px; line-height: 14px;
                  text-align: right; text-transform: lowercase; text-align: center;">{{doc.workflow_state}}</div>
                  </div>
                  <div>
                    <h3 class="me-3 file-title">
                      {{doc.p_title}}
                    </h3>
                  </div>
                </div>
                <div class="col col-lg-5 col-md-12 col-12">
                 {% if admin_access_allowed %}
                  <div class="employee-details d-flex align-items-center user-profile">
                    {% for data in userinfo %}
                    <div class="profile-pic">
                      <img src="{{data.user_image}}" alt="" class="img-fluid">
                    </div>
                    <div class="upload-date-time">
                      {{data.full_name}}
                    </div>
                    {% endfor %}
                  </div>
                  {% endif %}
                  <div class="upload-date-time text-start mt-3">
                    Uploaded on {{frappe.format_date(doc.modified)}}
                  </div>
                </div>
              </div>
              {% if description | len > 0%}
              <p>
                {{doc.description}}
              </p>
              {% endif %}
              <div class="details mt-5 mt-lg-1 mt-xl-5">
                <div class="row gx-3 gy-3">
                  <div class="col-12 col-sm-6 col-lg-12 col-xl-6">
                    <label>Date of Project</label>
                    <div>{{doc.month}} {{doc.year}}</div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-12 col-xl-6">
                    <label>Project Type</label>
                    <div>{{doc.project_type}}</div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-12 col-xl-6">
                    <label>Agency</label>
                    <div>{{doc.agency}}</div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-12 col-xl-6">
                    <label>Markets</label>
                    <div>{{markets}}</div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-12 col-xl-6">
                    {% if (sample_size is not none) and sample_size > 0 %}
                    <label>Sample Size</label>
                    <div>{{doc.sample_size}}</div>
                    {% endif %}
                  </div>
                  <div class="col-12">
                    {% if target_group | len > 0%}
                    <label>Target Group</label>
                    <div>
                      {{doc.target_group}}
                    </div>
                    {% endif %}
                  </div>
                  <div class="col-12">
                    <div>
                      {% for tag in _user_tags %}
                      <span class="badge tag">{{tag}}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col-12">
                    {% if description | len > 0%}
                    <label>Description</label>
                    <div>
                      {{doc.description}}
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 details">
              {% if business_problems | len > 0%}
              <label>Business Problems</label>
              <p>
                {{doc.business_problems}}
              </p>
              {% endif %}

              {% if research_objectives | len > 0%}
              <label>Research Objectives</label>
              <p>
                {{doc.research_objectives}}
              </p>
              {% endif %}

              {% if result | len > 0%}
              <label>Results</label>
              <p>
                {{doc.result}}
              </p>
              {% endif %}

              {% if action_standards | len > 0%}
              <label> Action Standards</label>
              <p>
                {{doc.action_standards}}
              </p>
              {% endif %}

              {% if learnings | len > 0%}
              <label>Learnings</label>
              <p>
                {{doc.learnings}}
              </p>
              {% endif %}

              {% if actions | len > 0%}
              <label>Actions</label>
              <p>
                {{doc.actions}}
              </p>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-7  ms-auto details">
            <label {% if (doc.workflow_state=="Rejected" ) %} hidden {% endif %}> Comments </label>
            <textarea id="comment" class="form-control" value="" name="comment" placeholder="Add a comment here"
              rows="4" {% if (doc.workflow_state=="Rejected" ) %} hidden {% endif %}></textarea> 
            <button type="button" onclick="saveComment('Project','{{doc.name}}'),location.reload()"  style="float: right;font-size: 10px; margin: 10px;" class="btn btn-outline-primary">Comment</button>
          </div><br>
          <div class="col-12 text-end action-btns mt-5 mb-4 ms-2">
            {% if admin_access_allowed %}
            <button class="btn btn-primary-2  px-3 py-2" data-bs-toggle="modal" data-bs-target="#successModalDelete"
              type="button" {% if (doc.workflow_state=="Approved" ) %} hidden {% endif %}>
              Delete
            </button>
            {% endif %}
            {% if admin_access_allowed or user_access_allowed and doc.owner == frappe.session.user and doc.workflow_state == "Pending" %}
            <button class="btn btn-secondary-2  px-3 py-2 ms-2" data-bs-toggle="modal" data-bs-target="#successModal"
              type="button" {% if (doc.workflow_state=="Approved" ) %} hidden {% elif (doc.workflow_state=="Rejected" )
              %} hidden {% endif %}>
              Edit
            </button>
            {% endif %}
            {% if admin_access_allowed %}
            <button class="btn btn-primary-red px-3 py-2 ms-2" data-bs-toggle="modal"
              data-bs-target="#successModalReject" type="button" {% if (doc.workflow_state=="Approved" ) %} hidden {%
              elif (doc.workflow_state=="Rejected" ) %} hidden {% endif %}>
              Reject
            </button>
            {% endif %}
            {% if admin_access_allowed %}
            <button class="btn btn-primary-green  px-3 py-2 ms-2" data-bs-toggle="modal"
              data-bs-target="#successModalApprove" type="button" {% if (doc.workflow_state=="Approved" ) %} hidden {%
              elif (doc.workflow_state=="Rejected" ) %} hidden {% endif %}>
              Approve
            </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</div>
</form>
</div>
<div>
  {% if all_comments | len > 0%}
  <h5 class="card-title"> Comments </h5> <br>
  {% endif %}
  {% for comment in all_comments %}
     <div class="card" style="width:80rem; ">
      <!-- <h5 class="card-title"> comments </h5> -->
      <div class="card-body">
        <p class="card-subtitle mb-2 text-muted"> {{comment.comment_by}} commented &nbsp;&nbsp; {{comment.creations}} </p>
        <p class="card-text">{{comment.content}}</p>
      </div>
    </div>
    {% endfor %}
</div>
<div class="modal fade" id="successModalApprove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content bg-primary">
      <div class="modal-body ">

        <div class="text-white mt-1" style="text-align: justify;">Are you sure you want to approve the File?</div>
        <div class="mt-4 d-flex justify-content-between modal-action-btns ">
          <button class="btn btn-link text-white" style="border-bottom: none;"
            onclick="location.reload()">Cancel</button>
          <button class="btn btn-link text-white" style="border-bottom: none;" id="approvedProject">Approve</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="successModalReject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content bg-primary">
      <div class="modal-body ">

        <div class="text-white mt-1" style="text-align: justify;">Are you sure you want to reject the File?</div>
        <div class="mt-4 d-flex justify-content-between modal-action-btns ">
          <button class="btn btn-link text-white" style="border-bottom: none;"
            onclick="location.reload()">Cancel</button>
          <button class="btn btn-link text-white" style="border-bottom: none;" id="rejectedProject">Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="successModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content bg-primary">
      <div class="modal-body ">

        <div class="text-white mt-1" style="text-align: justify;">Are you sure you want to delete the File?</div>
        <div class="mt-4 d-flex justify-content-between modal-action-btns ">
          <button class="btn btn-link text-white" style="border-bottom: none;"
            onclick="location.reload()">Cancel</button>
          <button class="btn btn-link text-white" style="border-bottom: none;" id="deleteProject">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content bg-primary">
      <div class="modal-body ">

        <div class="text-white mt-1" style="text-align: justify;">Are you sure you want to make the changes?</div>
        <div class="mt-4 d-flex justify-content-between modal-action-btns ">
          <button class="btn btn-link text-white" style="border-bottom: none;"
            onclick="location.reload()">Cancel</button>
          <button class="btn btn-link text-white" style="border-bottom: none;"
            onclick="location.href='/editproject?edit={{doc.name}}'">Edit</button>
        </div>
      </div>
    </div>
  </div>
  </div>

    <script>
      $.ajax({
        url: '/api/method/frappe.desk.form.load.getdoc',

        data: {
          doctype: 'Project',
          name: '{{name}}'
        },
        method: 'GET'
      })


      $("#approvedProject").click(function () {
        $.ajax({
          url: '/api/resource/Project/{{name}}',
          method: 'PUT',
          async: false,
          data: JSON.stringify({ workflow_state: "Approved", docstatus: 1 }),
          headers: {
            'X-Frappe-CSRF-Token': frappe.csrf_token
          },
          success: function (res) {
            location.reload()
            // $('#project-form [name=workflow_state]').val("Approved");

          }
        })
      }
      )


      $("#rejectedProject").click(function () {
        $.ajax({
          url: '/api/resource/Project/{{name}}',
          method: 'PUT',
          async: false,
          data: JSON.stringify({ workflow_state: "Rejected" }),
          headers: {
            'X-Frappe-CSRF-Token': frappe.csrf_token
          },
          success: function (res) {
            location.reload()
          }
        })
      }
      )


      // api for delete project
      $("#deleteProject").click(function () {
        $.ajax({
          url: '/api/resource/Project/{{name}}',
          type: 'DELETE',
          async: false,
          headers: {
            'X-Frappe-CSRF-Token': frappe.csrf_token
          },
          success: function (res) {
            // location.reload()
            console.log(res)
            window.location = "/home"
          }
        })
      }
      )
      //for workflow text color change
      if (document.getElementById('workflow').textContent == 'Pending') {
        document.getElementById('workflow').style.color = '#E4BB07';
      }
      else if (document.getElementById('workflow').textContent == 'Rejected') {
        document.getElementById('workflow').style.color = '#C7121D';
      } else {
        document.getElementById('workflow').style.color = '#127846';
      }


    </script>

    {% endblock %}